*{
}

.mainContainer{
    margin: 0 auto;
}
.firstContainer{
    background-color: white;
    margin-top: 5rem;
}
.secondContainer{
    background-color: gray;
    height: 100vh;
    padding-top: 20px;
    border-top: 2px solid black;
}
.firstCard{
    max-width: 400px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 20px;
}
.secondCard{
    max-width: 400px;
    background-color: white;
    margin: 0 auto;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 1px;
}
.secondTitle{

    background-color: yellow;
    margin-left: -10px;
    margin-top: -15px;
}

strong{
    color: green;  
}

p, h1{
    margin-left: 15px;
    margin-right: 15px;
}